<!DOCTYPE html>
<html  xmlns:th="https://ww.thymeleaf.org" lang="es">
<head>
    <style>
    form {
    width: 25em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: .5em;
    margin: 1em;
    box-shadow: .25em .25em 0 #ccc;
    }

    /* Estilo del área del input[file] */
    .drag-drop {
    height: 8em;
    width: 8em;
    background-color: #ccc;
    border-radius: 4em;
    text-align: center;
    color: white;
    position: relative;
    margin: 0 auto 1em;
    }

    .drag-drop span.desc {
    display: block;
    font-size: .7em;
    padding: 0 .5em;
    color: #000;
    }

    input[type="file"] {
    height: 10em;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    }

    /* Estilo del área del input[file] con :hover */

    .drag-drop:hover, input[type="file"]:hover {
    background-color: #3276b1;
    cursor: pointer;
    }

    .drag-drop:hover span.desc {
    color: #fff;
    }

    /* Composición del icono de Upload con FontAwesome */
    .fa-stack { margin-top: .5em; }

    .fa-stack .top { color: white; }

    .fa-stack .medium {
    color: black;
    text-shadow: 0 0 .25em #666;
    }

    .fa-stack .bottom { color: rgba(225, 225, 225, .75); }
    .drag-drop:hover .pulsating {
    animation: pulse1 1s linear infinite;
    animation-direction: alternate ;
    -webkit-animation: pulse1 1s linear infinite;
    -webkit-animation-direction: alternate ;
    }

    /* Keyframing de la animación */

    @keyframes pulse1 {
    0% { color: rgba(225, 225, 225, .75); }
    50% { color: rgba(225, 225, 225, 0.25); }
    100% { color: rgba(225, 225, 225, .75); }
    }

    @-moz-keyframes pulse1 {
    0% { color: rgba(225, 225, 225, .75); }
    50% { color: rgba(225, 225, 225, 0.25); }
    100% { color: rgba(225, 225, 225, .75); }
    }

    @-webkit-keyframes pulse1 {
    0% { color: rgba(225, 225, 225, .75); }
    50% { color: rgba(225, 225, 225, 0.25); }
    100% { color: rgba(225, 225, 225, .75); }
    }

    @-ms-keyframes pulse1 {
    0% { color: rgba(225, 225, 225, .75); }
    50% { color: rgba(225, 225, 225, 0.25); }
    100% { color: rgba(225, 225, 225, .75); }
    }
    </style>
    <title>Subir archivos Hackathon</title>
    <meta charset="UTF-8" />
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet" />
</head>
<body  style="background-color:#4882b0;">
<center><br>
    <div th:if="${message}">
        <h2 th:text="${message}"></h2>
    </div><br>
    <div>
        <form method="POST" enctype="multipart/form-data" action="/portadas/" style="background-color:#ADD8E6;">
        <label for="photo"><h2>Incluya la portada del libro que desea subir al servidor</h2></label><br><br>
            <div class="drag-drop">
                <input type="file" name="file" multiple="multiple" id="photo" />
                <span class="fa-stack fa-2x">
                        <i class="fa fa-cloud fa-stack-2x bottom pulsating"></i>
                        <i class="fa fa-circle fa-stack-1x top medium"></i>
                        <i class="fa fa-arrow-circle-up fa-stack-1x top"></i>
                    </span>
                <span class="desc">Pulse aquí para añadir las portadas de los libros</span>
            </div>
            <br><br><br>
                <td></td>
                <td><button type="submit" class="btn btn-primary">Enviar</button></td>
                <td><button type="reset" class="btn btn-default">Cancelar</button></td>
            <br><br><br>
        </form>
    </div>
</center>
<br>
<br>
<center><label for="photo"><h2>Listado de Portadas incluidas en el servidor</h2></label>
    <div>
        <ul style="list-style-type:none" >
            <li th:each="file : ${files}" style="float:left;margin-right:20px" >
                <img th:src="@{${file}+'/image'}" style="width: 109px; height: 170px; align: center;"><br>
                <a th:href="${file}">Pulse para descargar</a><br><br>
            </li>
        </ul>
    </div>
</center>
</body>
</html>
